<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>741097014083-1grhv8e7ivf2egbns8lqf778anpcipg5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741097014083-1grhv8e7ivf2egbns8lqf778anpcipg5</string>
	<key>API_KEY</key>
	<string>AIzaSyCt3HKXMkdbhBE3dg2i1ckgq6XSOXRP6YU</string>
	<key>GCM_SENDER_ID</key>
	<string>741097014083</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.havr.havr</string>
	<key>PROJECT_ID</key>
	<string>havr-36c5a</string>
	<key>STORAGE_BUCKET</key>
	<string>havr-36c5a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:741097014083:ios:0639e80c8011cc5b</string>
	<key>DATABASE_URL</key>
	<string>https://havr-36c5a.firebaseio.com</string>
</dict>
</plist>
